In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 993.1 kB/s eta 0:00:00
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     ------------------------------------ 904.2/904.2 kB 953.1 kB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3

In [109]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect
import mysql.connector
import sqlite3
from sqlite3 import Error
import pandas as pd
import numpy as np
import pyodbc

In [76]:
# création du moteur: chaine de connextion: mysql+<drivername>://<username>:<password>@<server>:<port>/dbname

engine = create_engine('mysql+mysqlconnector://nicolas:toto@localhost/classicmodels')

In [73]:
type(engine)

sqlalchemy.engine.base.Engine

In [74]:
print(engine)

Engine(mysql+mysqlconnector://nicolas:***@localhost/classicmodels)

In [75]:
print(engine.table_names())

['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

C:\Users\user\AppData\Local\Temp\ipykernel_12400\1043810782.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [77]:
# création de la connection

connection = engine.connect()

In [78]:
metadata = MetaData()

## Querries 

1. Préparez une liste de bureaux triés par pays, état, ville.
- Combien d'employés y a-t-il dans l'entreprise?
- Quel est le total des paiements reçus?
- Dressez la liste des lignes de produits contenant des «Voitures».
- Déclarez le total des paiements pour le 28 octobre 2004.
- Déclarez les paiements supérieurs à 100 000$
- Énumérez les produits de chaque gamme de produits.
- Combien de produits dans chaque gamme de produits?
- Quel est le paiement minimum reçu?
- Répertoriez tous les paiements supérieurs à deux fois le paiement moyen.
- Quelle est la majoration moyenne en pourcentage du PDSF sur buyPrice?
- Combien de produits distincts ClassicModels vend-il?
- Indiquer le nom et la ville des clients qui n'ont pas de représentants commerciaux?
- Quels sont les noms des cadres avec VP ou Manager dans leur titre? Utilisez la fonction CONCAT pour combiner le prénom et le nom de l'employé dans un seul champ pour le reporting.
- Quelles commandes ont une valeur supérieure à 5 000 $?
- Afficher le représentant du compte pour chaque client ()
- Afficher le total des paiements pour Atelier graphique.
- Afficher le total des paiements par date
- Afficher les produits qui n'ont pas été vendus.
- Afficher le montant payé par chaque client.
- Indiquez le nombre de commandes «On Hold» (en attente) pour chaque client.
- Listez les produits commandés un lundi.
- Afficher tous les produits achetés par Herkku Gifts.
- Pour les commandes contenant plus de deux produits, indiquez les produits qui constituent plus de 50% de la valeur de la commande.

In [83]:
# création des tables SQlAlchemy

offices = Table('offices', metadata, autoload=True,autoload_with=engine)
customers = Table('customers', metadata, autoload=True,autoload_with=engine)
employees = Table('employees', metadata, autoload=True,autoload_with=engine)
offices = Table('offices', metadata, autoload=True,autoload_with=engine)
orderdetails = Table('orderdetails', metadata, autoload=True,autoload_with=engine)
orders = Table('orders', metadata, autoload=True,autoload_with=engine)
payments = Table('payments', metadata, autoload=True,autoload_with=engine)
productlines = Table('productlines', metadata, autoload=True,autoload_with=engine)
products = Table('products', metadata, autoload=True,autoload_with=engine)

In [89]:
#représentation de la table bureaux

print(repr(offices))

Table('offices', MetaData(), Column('officeCode', VARCHAR(length=10), table=<offices>, primary_key=True, nullable=False), Column('city', VARCHAR(length=50), table=<offices>, nullable=False), Column('phone', VARCHAR(length=50), table=<offices>, nullable=False), Column('addressLine1', VARCHAR(length=50), table=<offices>, nullable=False), Column('addressLine2', VARCHAR(length=50), table=<offices>), Column('state', VARCHAR(length=50), table=<offices>), Column('country', VARCHAR(length=50), table=<offices>, nullable=False), Column('postalCode', VARCHAR(length=15), table=<offices>, nullable=False), Column('territory', VARCHAR(length=10), table=<offices>, nullable=False), schema=None)

In [90]:
#création d'outils de requête "pythonique" encapsulant les requêtes et les résultats.

query = 'SELECT * FROM offices'

result_intermediary = connection.execute(query)

result = result_intermediary.fetchall()

print(result)

[('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA'), ('2', 'Boston', '+1 215 837 0825', '1550 Court Place', 'Suite 102', 'MA', 'USA', '02107', 'NA'), ('3', 'NYC', '+1 212 555 3000', '523 East 53rd Street', 'apt. 5A', 'NY', 'USA', '10022', 'NA'), ('4', 'Paris', '+33 14 723 4404', "43 Rue Jouffroy D'abbans", None, None, 'France', '75017', 'EMEA'), ('5', 'Tokyo', '+81 33 224 5000', '4-1 Kioicho', None, 'Chiyoda-Ku', 'Japan', '102-8578', 'Japan'), ('6', 'Sydney', '+61 2 9264 2451', '5-11 Wentworth Avenue', 'Floor #2', None, 'Australia', 'NSW 2010', 'APAC'), ('7', 'London', '+44 20 7877 2041', '25 Old Broad Street', 'Level 7', None, 'UK', 'EC2N 1HN', 'EMEA')]

In [91]:
# Affichage du 1er individu de la table

first_line = result[0]

first_line

('1', 'San Francisco', '+1 650 219 4782', '100 Market Street', 'Suite 300', 'CA', 'USA', '94080', 'NA')

In [93]:
# Affichage de la valeur d'une colonne (clé) du 1er individu de la table (méthode key/value)

print(first_line.keys())

print(first_line.city)

RMKeyView(['officeCode', 'city', 'phone', 'addressLine1', 'addressLine2', 'state', 'country', 'postalCode', 'territory'])
San Francisco

In [115]:
# Combien d'employés y a-t-il dans l'entreprise?

query = 'SELECT * FROM employees'
df = pd.read_sql(query, connection)
result = len(df.index)
print(f"Il y a {result} employés dans l'entreprise")

Il y a 23 employés dans l'entreprise

In [126]:
### - Quel est le total des paiements reçus?

query = 'SELECT * FROM payments'
df = pd.read_sql(query, connection)
result = df.amount.sum()
result

print(f"L'entreprise a fait un chiffre d'affaire de {result} USD")

L'entreprise a fait un chiffre d'affaire de 8853839.23 USD

In [181]:
##### - Dressez la liste des lignes de produits contenant des «Voitures».

#print(repr(productlines))

query = 'SELECT * FROM productlines'
df = pd.read_sql(query, connection)

#print(df)

s1 = df['productLine']

print(s1)

print(f"Les lignes de produit contenant des voitures sont {s1[0]} et {s1[6]} ")

0        Classic Cars
1         Motorcycles
2              Planes
3               Ships
4              Trains
5    Trucks and Buses
6        Vintage Cars
Name: productLine, dtype: object
Les lignes de produit contenant des voitures sont Classic Cars et Vintage Cars

In [198]:
# Déclarez le total des paiements pour le 28 octobre 2004

query = 'SELECT paymentDate FROM payments WHERE paymentDate LIKE "2004-10-28";'

df = pd.read_sql(query, connection)

print(df)

print(f"Il y a eu 0 paiement le {df.loc[0][0]}")

  paymentDate
0  2004-10-28
Il y a eu 0 paiement le 2004-10-28

In [205]:
# Déclarez les paiements supérieurs à 100 000$

query = 'SELECT * FROM payments WHERE amount > 100000;'

df = pd.read_sql(query, connection)

print(df)


print(f"Il y a eu {df.count(axis=0).amount} paiements supérieurs à 100000 USD")

   customerNumber checkNumber paymentDate     amount
0             124    AE215433  2005-03-05  101244.59
1             124    KI131716  2003-08-15  111654.40
2             141     ID10962  2004-12-31  116208.40
3             141    JE105477  2005-03-18  120166.58
4             148    KM172879  2003-12-26  105743.00
Il y a eu 5 paiements supérieurs à 100000 USD